In [1]:
from main import main

if __name__ == '__main__':
    main()

0 sample\FA. 1045. CELA SA - Equipos DAIKIN.pdf

1 sample\FA. 1097. Omint SA - Mantenimiento.pdf

2 sample\FA. 1100. Las Moras SA - OS 1261.pdf

3 sample\FA. 1102. Diplomatic Service SA - Reparaciones en Hotel Item 1.pdf

4 sample\FA. 1103. Diplomatic Service SA - Repuestos DAIKIN.pdf

5 sample\NCA. 0116. Gente  Grande SA - Bodega Balbo - Anulacion FA 1093.pdf

6 sample\NDA. 027. BODEGAS CARO SA - Diferencia cambiaria FA 1064.pdf

7 sample\PR. CAGLIARI LUIS EDUARDO JOSUE. 249.pdf